.about-area {
  position: relative;
  top: 0;
  margin-top: 0;
  padding-top: 100px;
  background: white;
  width: 100%;
  background-repeat: repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.aboutBlocks {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.aboutBlock {
    width: 100%;
    border: solid grey 1px;
    display: flex;
    transition: 1.5s;
}

.aboutBlock img {
    width: 388px;
}