.about-area {
  position: relative;
  top: 0;
  margin-top: 0;
  padding-top: 100px;
  background: white;
  width: 100%;
  background-repeat: repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.aboutBlocks {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.aboutBlock {
    width: 100%;
    background-color: green;
    border: solid rgba(161, 0, 161, 0.562) 3px;
    height: 300px;
    display: flex;
    transition: 1.5s;
}