@import url('https://fonts.googleapis.com/css?family=Exo+2:600,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Exo&display=swap');


.bannerBlock {
  position: absolute;
  background-color: rgba(81, 115, 155, 0.8);
  z-index: 1;
  width: 50%;
  height: 100%;
  -webkit-animation: appear 1s;
  animation: appear 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes appear {
  0% { left: 500px; opacity: 0; }
  100% { left: 0; opacity: 1; }  
}

@keyframes appear {
  0% { left: 500px; opacity: 0; }
  100% { left: 0; opacity: 1; }  
}

.navbar {
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    z-index: 1;
    height: 100px;
    margin-left: 30px;
    font-family: 'Exo 2', sans-serif;
    flex: 0 1 auto;
    background-color: rgba(255, 255, 255, 0.26);

  }

.navbar h1 {
    display: inline-flex;
  color: blue;
  margin-right: 30px;
}

/* fixed navbar */
  /* .navbar {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #d4d7de;
    width: 100%;
    z-index: 1;
    height: 70px;
    border: solid red 2px;
    margin-top: 0;
  } */
  
.nav {
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: 1em;
  color: blue;
  padding: 0;
}


@media (max-width: 1000px) {
  .nav {
    display: none;
  }
}

  
  
  a {
    color: rgb(0, 132, 255);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px;
    margin: 5px;
    position: relative;
    display: inline-block;
  }
  
  a:after {
    position: absolute;
    left: 50%;
    content: '';
    height: 1px;
    background: rgba(53, 231, 255, 0.664);
    transition: all 0.2s linear;
    width: 0;
    bottom: -3px;
  }

  a:hover:after {
    width: 100%;
    left: 0px;
  }
  