@import url('https://fonts.googleapis.com/css?family=Exo+2:600,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Exo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

.bannerBlock {
  position: absolute;
  background-color: rgba(81, 115, 155, 0.8);
  z-index: 1;
  width: 50%;
  height: 100%;
  -webkit-animation: appear 1s;
  animation: appear 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes appear {
  0% { left: 500px; opacity: 0; }
  100% { left: 0; opacity: 1; }  
}

@keyframes appear {
  0% { left: 500px; opacity: 0; }
  100% { left: 0; opacity: 1; }  
}

.navbar {
    top: 0;
    display: flex;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    z-index: 1;
    height: 100px;
    font-family: 'Rubik', sans-serif;
    flex: 0 1 auto;
    background-color: none;
    transition: 1s;
  }

.movingNav {
    overflow: hidden;
    background-color: rgba(54, 161, 237, 0.897);
    position: fixed; 
    top: 0; 
    width: 100%;
    z-index: 1;
    height: 100px;
}

.movingNav .nav {
    -webkit-animation: appear 3s;
  animation: appear 3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}


.navbar img {
  width: 110px;
  margin: 30px;
  -webkit-animation: appear 3s;
  animation: appear 3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.nav {
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: 1em;
  color: blue;
  padding: 0;
}

@-webkit-keyframes appear {
  0% { left: 500px; opacity: 0; }
  100% { left: 0; opacity: 1; }  
}

@keyframes appear {
  0% { left: 500px; opacity: 0; }
  100% { left: 0; opacity: 1; }  
}


@media (max-width: 1000px) {
  .nav {
    display: none;
  }
}

  
  
  a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    letter-spacing: 2px;
    padding: 10px;
    margin: 10px;
    position: relative;
    display: inline-block;
  }
  
  a:after {
    position: absolute;
    left: 50%;
    content: '';
    height: 1px;
    background: rgba(255, 255, 255, 0.801);
    transition: all 0.2s linear;
    width: 0;
    bottom: -3px;
  }

  a:hover:after {
    width: 100%;
    left: 0px;
  }
  

  .header {
      display: flex;
      margin: 25px auto;
      width: 700px;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-family: 'Rubik', sans-serif;
  }

  .header h1 {
      margin: 0;
      letter-spacing: 3px;
      color: rgba(215, 244, 255, 0.904);
      font-size: 1.6em;
      -webkit-animation: appear 4s;
    animation: appear 4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  .header h2 {
      margin: 0;
      letter-spacing: 3px;
      color: rgba(1, 81, 146, 0.801);
      font-size: 2.3em;
      -webkit-animation: appear 4s;
    animation: appear 4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  .header img {
    width: 250px;
    margin-bottom: 30px;
    -webkit-animation: appear 3s;
    animation: appear 3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

}